.symbolsList{
    height: 10rem;
    overflow-y: scroll;
    
    &>div{
        margin-bottom: .5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    dt,dd{
        margin: 0;
        display: inline;
        align-self: center;
    }

    dt{
        font-weight: bold;
    }

    dd{
        display: inline-flex;
        align-items: center;
    }

    .symbolImage {
        display: inline-block;
        margin: 0 .10rem 0 .30rem;
        
    }

}