@import './variables.scss';

.collectionOptionsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:0 4rem;

}

@media all and(min-width: 30.25em) { //420px
    .collectionOptionsWrapper {
        justify-items: center;
    }
}
